.idea/
*.gz
*.zip
*.7z
*.bz2
*.csv
*.tsv
*.pickle
build
dist
*.egg-info/
# Python artifacts
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.egg-info/

# Testing & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Virtual environments
.venv/
venv/
env/

# Mypy
.mypy_cache/
